html{
	overflow-y:visible;
	font-size: 10px;
}

body{
	font:1.4rem/1.5 Helvetica;
}

.clearfix::after{
	content:'';
	display:block;
	clear:both;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
가상요소와 가상클래스에
박스 사이즈 보더를 주는 코드입니다.
width값을 boder까지 포함해서 계산
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
*::before, *::after,
*:before, *:after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}