@import "reset.css";
@import "common.css";
@import "grid-system.css";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
/*google web font nanum */
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
header의 시작
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.hanna{
	font-family: 'Hanna', sans-serif;
}
.header{
	position: relative;
	background: #fff;
	height: 80px;
}

.header .hamberger{
	position:absolute;
	top:34px;
	left:30px;
	background: url(../image/aware-website-assets/header/svg-icon-hamberger.svg);
	height: 13px;
	width: 13px;
}

.header .logo{
	position: absolute;
	left: 81px;
	top: 30px;
	background: url(../image/aware-website-assets/header/svg-logo-aware.svg);
	width: 97px;
	height: 20px;
}


.header .icon-bag{
	position: absolute;
	left:804px;
	top:32px;
	background: url(../image/aware-website-assets/header/Buttons/svg-icon-bag.svg);
	width: 16px;
	height: 16px;
}

.header .bag-circle{
	position:absolute;
	right:-10px;
	bottom:10px;
	background: url(../image/aware-website-assets/header//Buttons/notice/bg-circle.svg);
	width: 16px;
	height: 16px;
}

.bag-circle .number{
	position: absolute;
	left:5px;
	bottom:4px;
	background: url(../image/aware-website-assets/header/Buttons/notice/3.svg);
	width: 6px;
	height: 8px;
}

.header .icon-face{
	position: absolute;
	left: 860px;
	top:33px;
	background: url(../image/aware-website-assets/header/Buttons/svg-icon-face.svg);
	width: 14px;
	height: 15px;
}
.header .icon-search{
	position: absolute;
	left: 914px;
	top:32px;
	
	background: url(../image/aware-website-assets/header/Buttons/svg-icon-search.svg);
	width: 16px;
	height: 16px;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
header끝
slider 시작
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/


.page-slides{
	display: flex;
}
.page-sliders .slider-one{
	background: black;
	display: flex;
	
	vertical-align : bottom 

}
.slider-one img{
	/* css버그 해결을 위한 코드*/
	vertical-align : bottom 
}

.photo:first-child{
	background: black;

}




/*header_svg_logo_aware_svg {
  background-color: rgb(31, 75, 165);
  position: absolute;
  left: 81px;
  top: 30px;
  width: 97px;
  height: 20px;
  z-index: 4;
}
*/